RewriteEngine on 

RewriteRule category/([0-9a-zA-Z_-]+) category.php?category=$1 [NC,L]
RewriteRule asset/([0-9a-zA-Z_-]+) asset.php?asset=$1 [NC,L]
#RewriteRule save-asset-form save-asset-form.php [NC,L]

RewriteRule collection/id/([0-9a-zA-Z_-]+) collection.php?id=$1 [NC,L]
RewriteRule reviewApp/ww/([0-9a-zA-Z_-]+) reviewApp.php?ww=$1 [NC,L]
RewriteRule remove/id/([0-9a-zA-Z_-]+) process/reviewApp/remove.php?id=$1 [NC,L]
RewriteCond %{THE_REQUEST} /([^.]+)\.php [NC]
RewriteRule ^ /%1 [NC,L,R]
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^ %{REQUEST_URI}.php [NC,L,QSA]






































#ErrorDocument 404 not-found.php